 <!-- About Section -->
    <section  id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-center">
                    <img src="../img/quadro.png" width="60%"></img>
                    <p><b>TeachMe é uma plataforma que irá revolucionar a experiência entre professores e alunos.</b></p>
                </div>
                <div class="col-lg-4 text-center">
                    <img src="../img/beca.png" width="60%"></img>
                    <p><b>Acreditamos no poder transformador da eduçação.</b></p>
                </div>
                <div class="col-lg-4 text-center">
                    <img src="../img/livros.png" width="60%"></img>
                    <p><b>A TeachMe nasceu do desejo de simplificar e democratizar o acesso ao aprendizado.</b></p>
                </div>                
            </div>
        </div>
    </section>