<!-- Contact Section -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="max-font">Mais Informações</h2>
				<hr class="star-primary">
				<h4>Informe seu nome e seu melhor e-mail e descubra como fazer parte do projeto que vai revolucionar a conexão entre professores e alunos!</h4>
			</div>
		</div>
		<div class="row">
			<!--<div class="col-lg-8 col-lg-offset-2">
				<form  action="//formspree.io/resposta@teachmeapp.com.br" method="POST" name="sentMessage" id="contactForm" novalidate>
					<div class="row control-group">
						<div class="form-group col-xs-12 floating-label-form-group controls">
							<label>Nome</label>
							<input type="text" name="name" class="form-control" placeholder="Nome" id="name" required data-validation-required-message="Por favor, insira seu nome.">
							<p class="help-block text-danger"></p>
						</div>
					</div>
					<div class="row control-group">
						<div class="form-group col-xs-12 floating-label-form-group controls">
							<label>Email</label>
							<input type="email" name="_replyto" class="form-control" placeholder="Email" id="email" required data-validation-required-message="Por favor, insira um email válido.">
							<p class="help-block text-danger"></p>
						</div>
					</div>
					<div>
						<input type="hidden"  name="_subject" value="Nova solicitação de contato!">
						<input type="text" name="_gotcha" style="display:none" />
					</div>
					<br>
					<div id="success"></div>
					<div class="row">
						<center><div class="form-group col-xs-12">
							<button type="submit" class="btn btn-warning btn-lg">QUERO MAIS INFORMAÇÕES</button>
						</div></center>
					</div>
				</form>
			</div>-->
			<center>
				<div class="form-group col-xs-12">
					<a class="typeform-share button btn btn-warning btn-lg" href="https://teachme3.typeform.com/to/A6nuUb" data-mode="2" target="_blank">QUERO MAIS INFORMAÇÕES</a>
					<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
				</div>
			</center>
		</div>
	</div>
</section>
