 <!-- About Section -->
    <section class="success" id="project">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>O Projeto</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h3>O que é?</h3>
                    <p>TeachMe é a ferramenta que conecta professores a alunos, criando uma comunidade de aprendizagem sem limites.</p>

                    <h3>Como Funciona:</h3>
                    <p>Você cria seu perfil no aplicativo e anuncia seus cursos, aulas e preços.</p>
                    <p>O aluno escolhe dia e hora em que a aula ocorrerá, de acordo com o que você disponibilizou.</p>
                    <p>O pagamento é feito via aplicativo com toda a segurança para você e para o aluno.</p>
                    <p>Sua aula pode ser presencial ou à distância para alunos de todo o Brasil!</p>
                </div>
                <div class="col-lg-4">
                    <h3>Torne-se um professor parceiro:</h3>
                    <p>Podem participar professores de quaisquer áreas de atuação.</p>
                    <p>Por exemplo: reforço escolar, línguas, concursos públicos, artes, músicas, atividades físicas, tecnologia, culinária, aviação, esportes, etc.</p>
                    <p>Incentivamos também os que ainda não se consideram professores a participarem de nosso projeto lançando cursos ainda inexistentes no mercado.</p>
                    <p>Através do seu cadastro, lhe ajudaremos a organizar seu conhecimento para ser passado a diante.</p>
                    <p>Não subestime o interesse que os outros podem ter em aprender aquilo que você tem a ensinar!</p>
                    <p>Nossa plataforma também te ajudará se você ministra aulas incomuns ou raras e tem dificuldade de encontar alunos, pois através da TeachMe você estará conectado a alunos de sua região e de todo o Brasil.</p>
                </div>
            </div>
        </div>
    </section>